/***********************************
GENERAL
************************************/

body {
	font-family: 'Open Sans', sans-serif;
	weight: 100%;
     background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

#wrapper {
	max-width: 1080px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration : none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
}

#secondary{
	margin: 20px 0 0 0;
}



/***********************************
HEADING
************************************/


header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%;
}

#logo {
	text-align: center;
	margin: 0;
}

#logo:hover, #logo:focus{
	transform-origin: 0% 50%;
	animation: bigger-font 0.5s ease-out;
}

@keyframes bigger-font{
	50%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1);
	}
}

h1 {
	font-family: 'Changa One', sans-serif;
	margin: 15px 0;
	font-size: 1.75em;
	font-weight: normal;
	line-height: 0.8em;
}

h2 {
	font-family: 'Changa One', sans-serif;
	font-size: 1em;
	margin: -5px 0 0;
	font-weight: normal;
}



/***********************************
NAVIGATION
************************************/

nav {
	text-align: center;
}

nav ul{
	list-style: none;
	margin: 0 10px;
	padding: 0;
	height: 5.5em;
}

nav li {
	display: inline-block;
	max-width: 30%;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}



/***********************************
FOOTER
************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	clear: both;
	padding-top: 50px;
	color: #ccc;
	margin: 0 0 10px 0;
}

.social-icon {
	width: 20px;
	height: 20px;
	margin: 0 5px;
}


/***********************************
Back to top
*********************************/
#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 9999;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    background: #f5f5f5;
    color: #444;
    cursor: pointer;
    border: 0;
    border-radius: 2px;
    text-decoration: none;
    transition: opacity 0.2s ease-out;
    opacity: 0;
}
#back-to-top:hover, #back-to-top:focus{
    background: #e9ebec;
}
#back-to-top.show {
    opacity: 1;
}



/***********************************
PAGE: PORTFOLIO
************************************/

#gallery {
	margin: 0;
	padding: 0;
	list-style: none;
}

#gallery li {
	float: left;
	width: 80%;
	margin: 10%;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

@keyframes pop{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.15);
	}
	100%{
		transform: scale(1);
	}
}

.pop-in{
	opacity: 0;
}

.show-pop{
	animation: fadeInUp 1.0s ease-out forwards;
}

.pop-hover:hover, .pop-hover:focus{
	animation: pop 0.4s ease-out forwards;
}

#gallery li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}

#gallery li:nth-child(n+1) {
	clear: left;
}

/***********************************
PAGE: ABOUT
************************************/

.profile-photo {
	display: block;
	max-width: 150px;
	margin: 0 auto 30px;
	border-radius: 100%;
}




/***********************************
PAGE: CONTACT
************************************/

.contact-info {
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0.9em;
}

.contact-info a {
	display: block;
	min-height: 20px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
	padding: 0 0 0 30px;
	margin: 0 0 10px;
}

.contact-info li.phone  a{
	background-image: url('../img/phone.png');
}

.contact-info li.mail  a{
	background-image: url('../img/mail.png');
}

.contact-info li.twitter  a{
	background-image: url('../img/twitter.png');
}

.contact-info li.facebook  a{
	background-image: url('../img/facebook.png');
}

.contact-info li.wechat  a{
	background-image: url('../img/wechat.png');
}


/***********************************
COLORS
************************************/

/* site body */
body {
	background-color: #fff;
	color: #999;
}

/* green header */
header {
	background: #6ab47b;
	border-color: #599a68;
}

/* nav background on mobile */
nav {
	background: #599a68;
}

/* logo text */
h1,h2 {
	color: #fff;
	padding: 0px 0px 20px 0px;
}

/* links */
a {
	color: #6ab47b;
}

/* nav link */
nav a, nav a:visited {
	color: #fff;
}

/* selected nav link */
nav a.selected .text{
	color: #32673f;
}


/***********************************
Load
************************************/

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


@keyframes fadeInUp {
  0% {
    opacity: 0;
	transform: translate(0em, 5em);
  }
  85% {
    opacity: 0.8;
	transform: translate(0em, -0.5em);
  }
  100% {
    opacity: 1;
	transform: translate(0em, 0em);
  }
}


.fadeinup {
	opacity:0;
}

.startFade{
	animation: fadeInUp 1.0s ease-out forwards;
}



/*************************
Button animation
*************************/

.svg-wrapper{
	display: inline-block;
}

.shape {
	width: 100%;
	fill: transparent;
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
	stroke-width: 8px;
	stroke: #32673f;
}

.text {
  color: #fff;
  font-family: 'Changa One', sans-serif;
  font-size: 1.15em;
  text-align: center;
  font-weight: 800;
  position: relative;
  top: -45px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 10px;
  }
}

@keyframes change-color{
	100%{
		color: #32673f;
	}
}


.svg-rect{
	max-width: 100%;
}

.svg-wrapper:hover .shape, .svg-wrapper:focus .shape {
  animation: 0.5s draw linear forwards;
}


.svg-wrapper:hover .text, .svg-wrapper:focus .text{
  animation: change-color 0.4s ease-out forwards;
}

/*************************************
text animation
************************************/


.text--transparent {
  fill: transparent;
}

.anim-shape {
  transform-origin: 0x 150px;
  transform: scale(0, 1) translate(0, 0);
  animation: moving-panel 3s ease-out forwards;
}

.colortext .anim-shape:nth-child(1) {
  fill: #0E1826;
}

.colortext .anim-shape:nth-child(2) {
  fill: #166973;
}

.colortext .anim-shape:nth-child(3) {
  fill: #65BFA6;
}

.colortext .anim-shape:nth-child(4) {
  fill: #F2CD5C;
}

.colortext .anim-shape:nth-child(5) {
  fill: #F26444;
}

.shadow {
  transform: translate(4px, 4px);
}

.anim-shape--shadow {
  fill: #000;
  fill-opacity: .2;
}

@keyframes moving-panel {
  100% {
    transform: scale(1, 1) translate(20px, 0);
  }
}

/* Other stuff */

.animated-text{
	font-size: 3.8em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	position: relative;
	width: 100%;
	height: 50%;
	margin: 0px;
}


/***************************
Rotating Text
***************************/

#rotating-text .text {
  fill: none;
  stroke-width: 4;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  animation: stroke 6s infinite linear;
}

#rotating-text .text:nth-child(5n + 1) {
  stroke: #F2385A;
  animation-delay: -1.2s;
}
#rotating-text .text:nth-child(5n + 2) {
  stroke: #F5A503;
  animation-delay: -2.4s;
}

#rotating-text .text:nth-child(5n + 3) {
  stroke: #999;
  animation-delay: -3.6s;
}

#rotating-text .text:nth-child(5n + 4) {
  stroke: #56D9CD;
  animation-delay: -4.8s;
}

#rotating-text .text:nth-child(5n + 5) {
  stroke: #3AA1BF;
  animation-delay: -6s;
}


@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

#rotating-text {
 font-size: 4em;
	font-weight: 800;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
  margin: 0;
  position: relative;
  width: 100%;
  height: 100%;
}


/**********************************
HEART and Text
**********************************/

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.heart-loader {
  display: block;
  position: relative;
  left: 5%;
  width: 95%;
  height: 100%;
  overflow: visible;
}
.heart-loader__group {
          transform-origin: 0 90px;
          animation: group-anim 7s 1s infinite;
}
.heart-loader__square {
  stroke: #B8B8B8;
  stroke-dasharray: 240, 240;
  stroke-dashoffset: 240;
          animation: square-anim 7s 1s infinite;
}
.heart-loader__circle {
  stroke: #B8B8B8;
  stroke-dasharray: 188.522, 188.522;
  stroke-dashoffset: 188.522;
          transform-origin: 60px 30px;
}
.heart-loader__circle.m--left {
          animation: left-circle-anim 7s 1s infinite;
}
.heart-loader__circle.m--right {
          animation: right-circle-anim 7s 1s infinite;
}
.heart-loader__heartPath {
  stroke: #E21737;
  fill: transparent;
  stroke-dasharray: 308.522, 308.522;
  stroke-dashoffset: 308.522;
          animation: heart-anim 7s 1s infinite;
}


@keyframes square-anim {
  12% {
    stroke-dashoffset: 0;
  }
  43% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 0;
  }
}

@keyframes left-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
            transform: translateY(0);
  }
  41% {
    stroke-dashoffset: 0;
            transform: translateY(-30px);
  }
  43% {
    stroke-dashoffset: 0;
            transform: translateY(-30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
            transform: translateY(-30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
            transform: translateY(-30px);
    opacity: 0;
  }
}


@keyframes right-circle-anim {
  12% {
    stroke-dashoffset: 188.522;
  }
  31% {
    stroke-dashoffset: 0;
            transform: translateX(0);
  }
  41% {
    stroke-dashoffset: 0;
            transform: translateX(30px);
  }
  43% {
    stroke-dashoffset: 0;
            transform: translateX(30px);
    opacity: 1;
  }
  85% {
    stroke-dashoffset: 0;
            transform: translateX(30px);
    opacity: 0;
  }
  100% {
    stroke-dashoffset: 0;
            transform: translateX(30px);
    opacity: 0;
  }
}


@keyframes group-anim {
	0%{
		transform: translate3d(400px,100px,0) rotate(0);
	}
  43% {
            transform: translate3d(100px,100px,0) rotate(0);
  }
  54% {
            transform: translate3d(100px,100px,0) rotate(-45deg);
  }
  90% {
    opacity: 1;
	transform: translate3d(100px,100px,0) rotate(-45deg);
  }
  97% {
    opacity: 0;
	transform: translate3d(100px,100px,0) rotate(-45deg);
  }
  100% {
            transform: rotate(-45deg);
    opacity: 0;
  }
}


@keyframes heart-anim {
  45% {
    stroke-dashoffset: 308.522;
    fill: transparent;
  }
  60% {
    stroke-dashoffset: 0;
    fill: transparent;
  }
  77% {
    stroke-dashoffset: 0;
    fill: #E21737;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #E21737;
  }
}



.heart-loader .anim-shape {
  transform-origin: 0x 150px;
  transform: scale(0, 1) translate(0, 0);
  animation: moving-panel-2 7s 1s infinite;
}


@keyframes moving-panel-2 {
  55%{
	opacity: 0;
	transform: scale(0,1) translate(0, 0);
  }
  
  90% {
	  opacity: 1;
    transform: scale(1, 1) translate(20px, 0);
  }
  
   100% {
	 opacity: 0;
	transform: scale(0,1) translate(0, 0);
  }
}




